.grid-wrap, width 100%, .grid-title
    padding 0 38px 0 20px
    background-color #ffffff
    height 90px
    border-bottom 1px solid #f2f2f2
    position fixed
    top 0
    width 100%
    z-index 10
    .grid-title-left, width 50%, .vertical
        width 7px
        height 33px
        background-color #686194
    .grid-title-text
        font-size 30px
        color #2d2d2d
        margin-left 10px
    .grid-title-right, .grid-more
        color #8a898a
        font-size 22px
    .more-img
        width 10px
.grid-list
    padding 0 35px
    height 177px
    border-top 1px solid #f2f2f2
    .grid-item, .grid-item-img
        width 64px
    .grid-item-text
        font-size 23px
        color #2d2d2d
        margin-top 17px
.bar
    height 90px
    width 100%
.goods-wrap
    background-color #f2f2f2
    padding 30px 30px 0px
    // position relative
    top 90px
    .goods-item, width 336px, height 441px, background-color #ffffff, border-radius 10px, overflow hidden, margin-bottom 20px, .goods-img
        width 100%
        height 331px
        display block
    .goods-title
        font-size 25px
        margin-left 16px
        margin-top 10px
    .goods-value
        color #b93662
        font-size 24px
        margin-left 16px
        margin-top 10px
        span
        font-size 33px